<% if @tasks.empty? %>
  <h3 class="text-center">No tasks have been created yet</h3>
<% else %>
  <table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Checker</th>
      <th>Description</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= link_to task.name, task_path(task) %></td>
        <td><%= task.task_type %></td>
        <td><%= task.checker.present? ? task.checker : 'Default' %></td>
        <td><%= render inline: task.description %></td>
      </tr>
    <% end %>
  </table>
<% end %>
