<table>
  <% @runs.each do |run| %>
    <tr>
      <td><%= run.id %></td>
      <td><%= run.task.name if !run.task.nil? %></td>
      <td><%= run.status %></td>
      <td><%= run.code %></td>
      <td><%= run.message %></td>
      <td><%= run.max_memory_kb %></td>
      <td><%= run.max_time_ms %></td>
      <td><%= run.data %></td>
      <td><pre><%= run.log %></pre></td>
      <td><%= run.created_at.to_formatted_s(:short) %></td>
    </tr>
  <% end %>
</table>
